#app {
  height: 100vh;
  display: grid;
  grid-template-rows: 120px 60px auto;
}
header {
  height: 100%;
  position: relative;
  background-color: #d8ec79;
}

header h1 {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  position: absolute;
  left: 20px;
  top: 10px;
  height: 100px;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 60px;
  background-color: #93ad18;
}

nav p {
  color: #4c5a0c;
}

nav img {
  margin: 0 15px;
}

.navLink {
  display: flex;
  flex-direction: row;
}
